<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration debug="true">
    <property name="projectName" value="robbery_ticket" />
    <property name="charset" value="UTF-8" />
    <property name="loggingRoot" value="/usr/local/data/logs" />
    <property name="log.pattern" value="%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n" />
    <contextName>${projectName}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingRoot}/${projectName}.log</file>
        <append>true</append>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loggingRoot}/${projectName}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingRoot}/${projectName}-error.log</file>
        <append>true</append>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loggingRoot}/${projectName}-error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="com.netflix" level="WARN" />

    <springProfile name="dev">
        <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
        <logger name="org.springframework.scheduling"  level="error" />
        <Logger name="org.springframework" level="info" />
        <logger name="com.lzw" level="info" />
        <logger name="org.mybatis" level="warn" />
        <logger name="org.apache" level="ERROR" />
        <logger name="org.hibernate" level="ERROR" />
        <logger name="com.zaxxer.hikari" level="INFO" />
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </root>
    </springProfile>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <springProfile name="test,prod">
        <logger name="org.mybatis" level="warn" />
        <logger name="org.apache" level="ERROR" />
        <logger name="org.hibernate" level="ERROR" />
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </root>
    </springProfile>

</configuration>